<div *ngIf="episode">
    <div>
        {{episode.Title}}
    </div>
    <div>
        {{episode.OpeningCrawl}}
    </div>
    <div>
        {{episode.Director}}
    </div>
    <div>
        {{episode.Producer}}
    </div>
    <div>
        {{episode.ReleaseDate | date}}
    </div>
    <div>
        {{episode.Rating}}
    </div>
    <div>
        <form [formGroup]="EpisodeRatingModel" (ngSubmit)="rateEpisode()" >
            <select formControlName="Rating">
                <option value="" selected disabled hidden>Choose here</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <button type="submit">Rate</button>
        </form>
    </div>
</div>